Merge Vary header

Is this okay Vary header don't merge with Vary header from response (other layers)? each layer should add Vary header

Here layers


`
let middleware_stack = ServiceBuilder::new()
        .layer(
            CorsLayer::new()
                .allow_origin(AllowOrigin::list(vec![
                    "http://test.com".parse::<HeaderValue>().unwrap(),
                    "http://example.com".parse::<HeaderValue>().unwrap(),
                ]))
                .allow_methods([Method::GET, Method::POST])
        )
        .layer(
            CompressionLayer::new()
                .quality(CompressionLevel::Best)
        );
`

Here resposne 

'
HTTP/1.1 200 OK
content-type: application/json
vary: origin, access-control-request-method, access-control-request-headers
vary: accept-encoding
content-length: 109
date: Wed, 05 Feb 2025 17:45:27 GMT
'

This is definitely not related to hyper. Where did you find that this is not valid? I'm pretty sure MDN said it is valid when I wrote this code. 

@jplatte I said:
> Note it's not **_invalid_**

I think you misread 😅

> This is definitely not related to hyper

In my testing last night it was the serialization of the HeaderMap onto the wire that caused this duplicate. See the link to hyper (I’m using hyper and I’ve guessed OP is too). 

This crate isn’t handling the protocol itself right?

This crate is adding the header to an `http::Response`. It doesn't encode that response, but it has the ability to look up an existing header and update that instead of adding its own to the header multimap.


> it has the ability to look up an existing header

Ah right, I [have a failing test in a branch](https://github.com/tower-rs/tower-http/compare/main...samgiles:tower-http:sg-merged-vary-header#diff-c9b485c8dfc8c352bbb2356ce4afbe5d8ccb048bed7f52c87297e872678b0a35R181-R184), perhaps if you can point me to where this is happening I can propose a fix in a PR, I couldn't find this before

Well first, why "fix" what's not broken?

It’s not ideal behaviour according to the spec. RGC7230 is perhaps a little ambiguous.

[RFC 7230, Section 3.2.2, Field Order](https://www.rfc-editor.org/rfc/rfc7230#section-3.2.2)

>    A sender MUST NOT generate multiple header fields with the same field
   name in a message unless either the entire field value for that
   header field is defined as a comma-separated list [i.e., #(values)]
   or the header field is a well-known exception (as noted below).


But then goes on to say:

>    A recipient MAY combine multiple header fields with the same field
   name into one "field-name: field-value" pair, without changing the
   semantics of the message, by appending each subsequent field value to
   the combined field value in order, separated by a comma.  The order
   in which header fields with the same field name are received is
   therefore significant to the interpretation of the combined field
   value; a proxy MUST NOT change the order of these field values when
   forwarding a message.

I interpret this as - please don’t send messages like this but clients can handle it if they want to, but they don’t need to.  So I see fixing this as helping to conform closer to the spec.

I don't interpret it the same way. A recipient being allowed to coalesce multiple `vary` header values into a single one before further processing it is one thing, but that doesn't mean that it should just ignore one of the headers if it does not first coalesce all into one.

The main reason I am hesitant about this is that the `http` crate doesn't really provide a good API to modify (concatenate) `HeaderValue`s. Currently, what the CORS middleware does is it internally builds up the `vary` header value as `BytesMut` (which can easily be modified), then does one conversion step to `HeaderValue` which is known to never fail because all bytes ever added to the `BytesMut` buffer are valid header values. If we wanted to update an existing header value, AFAIK with `http`s current API, we'd first have to convert the existing value to `BytesMut`, which (a) incurs extra allocation costs and (b) is fallible.

I share jplatte@'s reservations. A decent first step might just to be to provide some reference code showing how to do the coalescing yourself. I think probably a doc comment in the module makes more sense than an `examples/`, for discoverability?