Compression encoding preference

## Feature Request

### Motivation

Currently, when using Firefox for example, the encoding used by `CompressionLayer` is GZIP, which is unfortunate, considering that Brotli produces far smaller files and Firefox does support it.

### Proposal

Currently the encoding used by `CompressionLayer`, is the first one listed in `Accept-Encoding`, which, as far as I can tell, is not mandated by the specification, see [RFC 9110 Section 12.5.3](https://httpwg.org/specs/rfc9110#field.accept-encoding) and [8.4.1](https://httpwg.org/specs/rfc9110#content.codings).

Furthermore, most servers don't handle it this way, and just pick the one from the list they prefer the most. When clients want to specify which one they prefer, they have to use quality values, which is already supported by `CompressionLayer` (as far as I can tell).

So my proposal is:
- Specify a default server preference for each encoding instead of picking the first one.
- Expose an interface to let the user specify a preference.

Happy to make a PR of course.

### Alternatives

For example, is Brotli is the encoding preferred, users could always just only enable that crate feature, considering Brotli is widely supported. Obviously this isn't ideal.

Otherwise implementing `CompressionLayer` by hand always works.

Adding a method for specifying the preferred compression (if the client doesn't have a preference) sounds good to me!

This would be very nice! I enabled brotli and gzip, and although it wasn't specified in the docs, I assumed that if brotli and gzip were both acceptable to the client, brotli would be used.

With #325, tower-http will now prefer brotli > gzip > deflate, when more than one encoding is acceptable to the client. There still isn't a way for users of tower-axum to express a preference between compression schemes, but the new defaults might mean there isn't as much of a need to do so, so that might be enough to close this issue.


Brotli decreases performance for large json files by an order of magnitude for me, roughly 10 times slower than gzip. The file size may be a lot smaller but the huge latency penalty wasn't worth it.

This is a known problem that keeps popping up when using `async-compression`.
See https://github.com/Nemo157/async-compression/issues/174.

To summarize, `tower-http` uses the default compression level of `async-compression` ([src](https://docs.rs/tower-http/0.4.0/src/tower_http/compression/body.rs.html#333)), which uses the default compression level of `brotli` ([src](https://docs.rs/async-compression/0.3.15/src/async_compression/lib.rs.html#215)), which is by default the highest compression level ([src](https://docs.rs/brotli/3.3.4/src/brotli/enc/encode.rs.html#389)).

So this can either be "fixed" by changing the default level in `brotli`, or not use the default level in `tower-http`.

Thank you for the insights. There does not seem to be an obvious (documented) way to configure this, so for the time being I will just set [`no_br()`](https://docs.rs/tower-http/latest/tower_http/compression/struct.CompressionLayer.html#method.no_br) when using the CompressionLayer.

I ran into a case that was way way worse, it also took me a while to figure out that the `CompressionLayer` was the cause:

Brotli: 8.3s
gzip: 310ms

It's a moderately large JSON: ~770KiB

Defaulting to the max compression level for dynamic content is definitely the wrong behavior for this.  NGINX uses level 4 as a default for on-the-fly compression which might make sense for this crate to use as well.

Is it possible to select the compression level for whatever compression lib we're using?  If it's not exposed as an option to even this crate, it might make sense to disable support for it.  This degree of slowness could almost be considered a bug; it caused a whole crop of mysterious performance regressions in our app that took a bunch of effort to track down after just bumping some dependencies.

Ideally, I feel that the compression level should be configurable on the compression layer itself by the end user.

Is someone up for submitting a PR?

It seems that support for specifying compression level on `CompressionLayer` was already implemented 3 weeks ago: https://github.com/tower-rs/tower-http/commit/4ebe8110d9f083730126b39407ce882fd428b000

Seems to just not be released yet.

The only remaining piece would be to override the `async-compression` default with a lower level for brotli, and maybe other algorithms as well, since as I understand it their default is max level.

I think that could be accomplished as a special-case here: https://github.com/tower-rs/tower-http/blob/master/tower-http/src/compression/body.rs#L335

I can put up a PR to do that if the plan sounds good to you.

I created a PR to implement that: https://github.com/tower-rs/tower-http/pull/356

Happy to discuss further there or handle any changes you'd like to see.  I've also not tested this change and will def. want to do that before merging.

PR #356's changes are useful for new projects but pose challenges for those of us rewriting services in Rust. Greater control over encoding selection logic is essential, as the default choice doesn't always align with our product needs.

I've been playing around with this, does this API seem reasonable to people?

```rust
impl CompressionLayer<_> {
    pub fn encoding_preference<T>(mut self, pref: T) -> Self
    where
        T: Into<EncodingPreference>;
}

struct EncodingPreference(/* private fields */);

impl From<[Encoding; 4]> for EncodingPreference;
impl From<[Encoding; 4]> for EncodingPreference;
impl From<[Encoding; 4]> for EncodingPreference;
```

@privettoli Can you expand a little bit on that? Clients can also send a quality value, do you expect the ordering of the encoding list to act as an extra (fallback) preference if qualities of multiple encodings in the list are equal?

@jplatte sorry for the delay. Existing services have a certain implementation of ordering for equal-quality algorithms. For example, they might be picking up the first in the list or preferring gzip over all other. For certain teams it might be important to preserve the behavior when rewriting their service to Rust+Hyper with motivation to reduce customer impact and/or confusion when new version begins to accept all or part of the traffic. For many services it would not be critical to preserve identical behavior, for some it might be.

I'm not that interested in what *might* be that case for somebody else but what your use case is. And I still don't understand it... Do you want to be able to pick the first from the list *regardless of q-values*, or the first one between those with the highest q-value? The former seems like a buggy implementation. I'd rather not put in much work to support that, but maybe a callable that takes the header value, has to parse it internally and return a preferred encoding from it could work. 